---
import type {GetStaticPathsResult} from "astro";
import {type CollectionEntry, getCollection, render} from "astro:content";
import { Image } from 'astro:assets';
import MainLayout from "@/layouts/MainLayout.astro";
import Back from "@/components/Back.astro";
import ExternalLink from "@/components/ExternalLink.astro";

export const getStaticPaths = async () : Promise<GetStaticPathsResult> => {
    return (await getCollection('techs')).flatMap(tech => tech.data.tags
        .map(tag => ({
            params: { stack: tag, tech: tech.id },
            props: { stack: tag, tech }
        })))
}
interface Props {
    stack: string
    tech: CollectionEntry<'techs'>
}

const { tech, stack } = Astro.props
const { Content } = await render(tech);

---

<MainLayout title={tech.data.name} image={tech.data.image}>
    <article class="flex flex-col gap-5 items-center">
        <Back href=`/stack/${stack}` />
        <h1 class="font-extrabold text-2xl">{tech.data.name}</h1>
        <Content />
        <ExternalLink href={tech.data.about} />
        <Image src={tech.data.image} alt='' width={320} height={320} class="rounded max-w-xs" />
    </article>
</MainLayout>
