---
import MainLayout from '@/layouts/MainLayout.astro';
import Heading from "@/components/Heading.astro";
import Back from "@/components/Back.astro";
import Card from "@/components/Card.astro";
import type {GetStaticPaths} from "astro";
import {type TechTag, techTags} from "@/content.config.ts";
import {getCollection} from "astro:content";

export const getStaticPaths : GetStaticPaths = () =>
    techTags.map(x => (({ params: { stack: x }})))
const { stack } = Astro.params as { stack: TechTag };
const techs = (await getCollection('techs'))
    .filter(x => x.data.tags.includes(stack))
    .sort((l, r) => l.data.order - r.data.order);

const texts : Record<TechTag, { title: string; description: string }> = {
    backend: {
        title: 'Бекенд',
        description: `
            Самый большой опыт у меня в бекенде - с 2020 года.
            Основа моего стека - ASP.Net Core
            и стандартные библиотеки для этого фреймворка:
            EFCore, Serilog, Microsoft OpenApi, AWS S3, StackExchange Redis.
        `
    },
    frontend: {
        title: 'Фронтенд',
        description: `
            В том или ином виде фронтендом я занимаюсь с 2022 года, 
            когда я сделал свой первый сайт на чистом js.
            С тех пор я изучаю новые технологии и подходы, стараюсь идти
            в ногу со временем.
        `
    },
    devops: {
        title: 'DevOps',
        description: `
            Я начал изучать DevOps и системное администрирование
            примерно в 2021 году, когда купил себе Raspberry PI 4
            в качестве домашнего сервера. Сейчас я администрирую несколько
            серверов разных компаний, которые работают 24/7 и приносят прибыль
        `
    }
}
---
<MainLayout>
    <Back />
    <Heading level={1}>{texts[stack].title}</Heading>
    <p class="px-2">{texts[stack].description}</p>
    <Heading level={2}>Технологии</Heading>
    <div class="grid gap-2 grid-cols-2 md:grid-cols-3">
        {techs.map(x => <Card image={x.data.image} name={x.data.name} link={`/stack/${stack}/${x.id}`} />)}
    </div>
</MainLayout>